<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @quote.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @quote.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @quote.telephone %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
