<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @productquote.quantity %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @productquote.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @productquote.param2 %>
</p>

<p>
  <strong>Param3:</strong>
  <%= @productquote.param3 %>
</p>

<p>
  <strong>Param4:</strong>
  <%= @productquote.param4 %>
</p>

<p>
  <strong>Product:</strong>
  <%= @productquote.product %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @productquote.quote %>
</p>

<%= link_to 'Edit', edit_productquote_path(@productquote) %> |
<%= link_to 'Back', productquotes_path %>
